@font-face {
  font-family: "Kunstler Script";
  src: url("./fonts/KunstlerScript.ttf");
}

@font-face {
  font-family: "seasons";
  src: url("./fonts/Fontspring-DEMO-theseasons-reg.otf");
}

@font-face {
  font-family: "juana";
  src: url("./fonts/Fontspring-DEMO-juanaalt-light.otf");
}